body{
	background-color: black;
	font-family: "Roboto";
	font-style: italic;
	color: #4C8DA9;
	-moz-user-select: none;
	user-select: none;
}

h1{
	font-style: normal;
	color: #6b97ab;
}

h2{
	color: #FFFFFF99;
	font-size: 1.5em;
	text-transform: uppercase;
	font-weight: normal;
}

ul{
	list-style: none;
	margin-top: 0;
}

/* Main window, the one with the options in it */

.main_window{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	position: absolute;
	margin-top: 12%;
	margin-right: 10%;
	margin-left: 0px;
	margin-bottom: 18%;
	min-width: 790px;
	max-width: 800px;
	min-height: 415px;
	max-height: 600px;
}

.menu-head{
	display: flex;
	flex-direction: row-reverse;
	align-items: flex-end;
	width: 100%;
}

.logo{
	display: inline-block;
	position: relative;
	height: 5.5em;
	background-color: #4C8DA940;
	width:100%;
	margin-right: -1.6em;
	margin-bottom: 0.30em;
	clip-path: polygon(100% 0, 100% 70%, 94.3% 100%, 0 100%, 0 0);
}

.title{
	display: inline-block;
	position: relative;
	min-width: 20em;
	height: 2em;
	background-color: #4C8DA940;
	clip-path: polygon(10% 0, 100% 0, 100% 100%, 0% 100%);
}

.title h2{
	text-align: right;
	position: relative;
	bottom: 55%;
	margin-right: 0.30em;
}

.options{
	text-align: right;
	margin-right: 1.25rem;
	font-size: 1.25em;
	padding-top:0.50em;
}

.options li{
	padding-top: 0.875rem;
	padding-bottom: 0.875rem;
	text-transform: uppercase;
}

.menu-content{
	background-color: #4C8DA940;
	padding-bottom: 0.10em;
}

/* Container  */

.odesc-container{
	background-color: #FFFFFF10;
	margin-bottom: 0.30rem;
	margin-right: 0.30rem;
}

#odesc{
	text-align: center;
	font-size: 1.25em;
	padding-top: 0.5em;
	padding-bottom: 0.25em;
	height: 1.25em;
}

/* Button Legend, which tells the player what each button does */

.button-legend{
	position: absolute;
	display: flex;
	bottom: 0px;
	flex-direction: column-reverse;
	flex-wrap: wrap;
	max-height: 6em;
	color: #3895B5;
}

.legend{
	display: block;
	min-height: 2em;
	min-width: 170px;
	background-color: #4C8DA960;
	margin-right: 0.25em;
	margin-bottom: 0.25em;
}

.legend-s{
	display: block;
	min-height: 2em;
	min-width: 200px;
	background-color: #4C8DA960;
	margin-right: 0.25em;
	margin-bottom: 0.25em;
	clip-path: polygon(0 0, 95% 0, 100% 100%, 0% 100%);
}

.legend-text{
	text-align: right;
	margin-right: 10px;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.legend-s .legend-text{
	margin-right: 20px;
}

/* Animations and effects */

.options li:hover{
	background-color: #00000020;
}